# Dependencies
node_modules
.pnp

# Database
*.db
*.db-wal
*.db-shm

# Environment
.env
.env.local
.env.*.local

# Build
/client/dist
/server/build

# IDE
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
logs
*.log
npm-debug.log*